
#about {
  background: rgb(10, 10, 10);
  min-height: 700px;
  padding: 10px;
  position: relative;
  top: 0;
  transition: all .6s .3s ease-out;
  z-index: 5;
  /* visibility: hidden; */
}

#about.active {
  margin-top: -700px;
  visibility: visible;
  z-index: 5;
  transition: all .5s .6s ease-in;
}

#about .top-container {
  width: 82%;
  height: 94px;
  border-bottom: 1px solid grey;
  margin-left: 9%;
  opacity: 1;
  transition: all ease-out;
}

#about.active .top-container {
  opacity: 1;
  transition: all .8s .6s ease-in;
}

#about .top-container .about-logo {
  width: 125px;
  height: 75px;
  display: inline-block;
  float: right;
  position: relative;
  top: 10px;
  cursor: pointer;
}

#about .top-container .about-logo img {
  width: 100%;
  height: 100%;
}


#about .wrapper {
  min-height: 625px;
  width: 82%;
  margin-left: 9%;
  display: grid;
  grid-template-columns: 45% 55%;
  opacity: 1;
  transition: all 1s .5s ease-out;
}

#about.active .wrapper {
  opacity: 1;
  transition: all 1.8s .6s ease-in;
}

#about .portrait .portrait-wrapper {
  height: 65vh;
  width: 50vh;
  border: 1px solid white;
  opacity: 1;
  margin: 2em auto;
}

#about .portrait .portrait-wrapper img {
    height: 100%;
    width: 100%;
}

#about .bio .paragraph-wrapper {
  width: 115%;
  height: 420px;
  opacity: 1;
  margin: .5em auto;
  padding: 2% 15% 1% 2%;
}

#about .bio .paragraph-wrapper span {
  font-size: 1.9em;
  font-family: 'Source Sans Pro', sans-serif;
}

#about .bio .paragraph-wrapper p{
  font-size: 2.7vh;
  line-height: 1.8;
  font-weight: lighter;
  word-spacing: 2px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}


/* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */


/* @media  (max-width: 1052px) {
  #about .bio .paragraph-wrapper p {
    font-size: 19px;
    line-height: 1.6;
  }
} */

@media (max-width: 1000px) {
  #about .portrait .portrait-wrapper {
    height: 40vw;
    width: 30vw;
    margin-left: 2em;
   }
   #about .bio .paragraph-wrapper p {
     font-size: 16px;
     line-height: 1.5;
   }
}

@media (max-width: 810px) {
  #about .bio .paragraph-wrapper p {
  font-size: 16px;
  line-height: 1.4;
 }
}


 @media (max-width: 768px) {
  #about .top-container .about-logo {
    float: none;
    margin: auto 40%;
   }
  #about .wrapper {
    grid-template-columns: 0% 100%;
  }
  #about .portrait .portrait-wrapper {
    visibility: hidden;
  }
  #about .bio .paragraph-wrapper {
    width: 100%;
    margin-left: 20px;
    padding: 0;
  }
  #about .bio .paragraph-wrapper p {
    font-size: 2.8vh;
    line-height: 1.8;
  }
}

@media (max-width: 605px) {
  #about .bio .paragraph-wrapper p {
  font-size: 17px;
  line-height: 1.6;
 }
}

@media (max-width: 540px) {
  #about .bio .paragraph-wrapper p {
  font-size: 16px;
  line-height: 1.5;
 }
}

@media (max-width: 460px) {
  #about .top-container .about-logo {
    float: none;
    margin: auto 35%;
   }
  #about .bio .paragraph-wrapper p {
  font-size: 15px;
  line-height: 1.5;
 }
}
