
/* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */

/* ipad pro Landscape */
@media only screen
and (device-width: 1366px)
and (device-height: 1024px)
and (orientation:landscape) {
  #front-cover {
    width: 1505px;
  }
  #main .black-cover {
    width: 1505px;
  }
  #front-cover .logo-front-cover {
    top: 42%;
    left: 35%;
    width: 400px;
    height: 380px;
  }
  #about {
    width: 1505px;;
    height: 1130px;
    margin-top: 430px;
  }
  #about.active {
    height: 1130px;
    width: 1505px;
  }
  #main .slider .img-slider {
    width: 780px;
    height: 1020px;
 }
 #main .slider .arrow-area {
   height: 146%;
   bottom: 1020px;
 }
 #main .navslider-wrapper nav .click-slider {
    margin: 760px auto 0 auto;
 }
}

/* ipad pro Portrait */
@media only screen
and (device-width: 1024px)
and (device-height: 1366px)
and (orientation:portrait) {
  #about {
    width: 1505px;;
    height: 1706px;
    margin-top: 1315px;
  }
  #about.active {
    height: 2010px;
    width: 1505px;
  }
  #main .slider {
    height: 1600px;
 }
 #about.active .wrapper {
   height: 1580px;
   display: block;
 }
 #about.active .wrapper .portrait {
   display: none;
 }
 #about .bio .paragraph-wrapper {
    max-width: 215%;
    height: 100%;
    opacity: 1;
    margin: .5em auto;
    padding: 2% 15% 1% 2%;
    background: blue;
 }
 #main .slider .img-slider {
   width: 1000px;
   height: 1350px;
   margin: 360px auto 0 200px;
 }
#main .navslider-wrapper nav .click-slider {
   margin: 1500px auto 0 auto;
 }
 #main nav .nav-logo {
   height: 120px;
 }
 #main nav .nav-links ul {
   font-size: 32px;
 }
 #main nav .click-slider ul {
   font-size: 25px;
 }
}




/* IPAD IPAD IPAD IPAD IPAD IPAD */

/* Ipad landscape mode */

@media only screen
and (device-width: 1024px)
and (device-height: 768px)
and (orientation:landscape) {
  #about {
    width: 1126px;
    height: 845px;
    margin-top: 145px;
  }
  #about.active {
    height: 845px;
    width: 1126px;
    margin-top: -850px;
  }
  #about .wrapper {
    grid-template-columns: 49% 55%;
  }
  #front-cover {
    width: 1126px;
  }
  #main .black-cover {
    width: 1126px;
  }
  #front-cover .logo-front-cover {
    top: 30%;
  }
  #main .slider .img-slider {
    width: 550px;
    height: 740px;
  }
  #main .slider .arrow-area {
    height: 106%;
    bottom: 739px;
  }
  #main .navslider-wrapper nav .click-slider {
     margin: 470px auto 0 auto;
  }
}

/* Ipad portrait mode */

@media only screen
and (device-width: 768px)
and (device-height: 1024px)
and (orientation:portrait) {
  #front-cover {
    width: 850px;
  }
  #main .black-cover {
    width: 850px;
  }
  #front-cover .logo-front-cover {
    top: 40%;
    left: 32%;
  }
  #about {
    height: 1135px;
    width: 850px;
    margin-top: 445px;
  }
  #about.active {
    height: 1135px;
    width: 850px;
    margin-top: -845px;
  }

  #main .slider .img-slider {
    width: 590px;
    height: 880px;
    margin: 160px 0 auto;
 }
 #main .navslider-wrapper nav .click-slider {
    margin: 734px auto 0 auto;
 }
 #main .slider .arrow-area .arrow-left {
    width: 50%;
    height: 164%;
    background: transparent;
    position: relative;
    bottom: 340px;
  }
  #main .slider .arrow-area .arrow-right {
     width: 50%;
     height: 164%;
     background: transparent;
     position: relative;
     bottom: 340px;
   }
