
/* IPHONE */  /* IPHONE */  /* IPHONE */  /* IPHONE */  /* IPHONE */  /* IPHONE */  /* IPHONE */  /* IPHONE */

/* iphone x portrait mode */

@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (orientation:portrait) {
  #front-cover {
    width: 370px;
  }
  #main .black-cover {
    width: 370px;
  }
  #front-cover .logo-front-cover {
    top: 42%;
    left: 38%;
  }
   #main .slider .img-slider {
     width: 48vh;
     height: 75vh;
     z-index: 3;
     border: 1px solid rgb(175, 175, 175);
     margin: 30px 13px;
  }
  #main .slider .arrow-area {
    bottom: 558px;

  }
  #main .rep-menu .menu-logo .logo-wrapper {
    margin-right: 0;
    margin-top: 16px;
  }
  #about {
    width: 426px;;
    height: 812px;
    margin-top: 221px;
  }
  #about.active {
    width: 426px;;
    height: 921px;
  }
  #about .bio .paragraph-wrapper {
  width: 90%;
  }
  #about .bio .paragraph-wrapper p {
    visibility: hidden;
  }
  #about.active .bio .paragraph-wrapper p {
    font-size: 19px;
    visibility: visible;
    margin-right: 20px;
  }
}

/* iphone x landscape mode */

@media only screen
and (device-width: 812px)
and (device-height: 375px)
and (orientation:landscape) {
  #main .slider .img-slider {
    width: 270px;
    height: 340px;
 }
 #main .navslider-wrapper nav .click-slider {
    margin: 80px auto 0 auto;
  }
}



/* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */ /* IPAD PRO */

/* ipad pro Landscape */
@media only screen
and (device-width: 1366px)
and (device-height: 1024px)
and (orientation:landscape) {
  #front-cover {
    width: 1505px;
  }
  #main .black-cover {
    width: 1505px;
  }
  #front-cover .logo-front-cover {
    top: 42%;
    left: 38%;
  }
  #about {
    width: 1505px;;
    height: 1130px;
    margin-top: 430px;
  }
  #about.active {
    height: 1130px;
    width: 1505px;
  }
  #main .slider .img-slider {
    width: 780px;
    height: 1020px;
 }
 #main .slider .arrow-area {
   height: 146%;
   bottom: 1020px;
 }
 #main .navslider-wrapper nav .click-slider {
    margin: 760px auto 0 auto;
 }
}

/* ipad pro Portrait */
@media only screen
and (device-width: 1024px)
and (device-height: 1366px)
and (orientation:portrait) {
  #about {
    height: 2115px;
    width: 1585px;
    margin-top: 1420px;
  }
  #about.active {
    height: 2215px;
    width: 1685px;
  }
  #main .slider {
    height: 1600px;
 }
 #about .top-container {
   min-height: 160px;
 }
 #about .top-container .about-logo {
   float: none;
   margin: auto 45%;
   min-width: 185px;
   min-height: 135px;
  }
 #about  .wrapper {
   height: 1580px;
   display: block;
 }

 #about.active .wrapper {
   height: 1580px;
   display: block;
 }
 #about .wrapper .bio {
   width: 1200px;
}
 #about .wrapper .portrait {
   display: none;
 }
 #about.active .wrapper .portrait {
   display: none;
 }
 #about .bio .paragraph-wrapper {
    width: max-content;
    height: 1420px
    opacity: 1;
    margin: .5em auto;
    padding: 2% 15% 1% 2%;
 }
 #about .bio .paragraph-wrapper p {
    visibility:hidden;

  }
 #about.active .bio .paragraph-wrapper p {
   visibility: visible;
    font-size: 3.9vh;
  }
 #main .slider .img-slider {
   width: 1000px;
   height: 1350px;
   margin: 360px auto 0 200px;
 }
#main .navslider-wrapper nav .click-slider {
   margin: 1500px auto 0 auto;
 }
 #main nav .nav-logo {
   height: 120px;
 }
 #main nav .nav-links ul {
   font-size: 32px;
 }
 #main nav .click-slider ul {
   font-size: 25px;
 }
}




/* IPAD IPAD IPAD IPAD IPAD IPAD */

/* Ipad landscape mode */

@media only screen
and (device-width: 1024px)
and (device-height: 768px)
and (orientation:landscape) {
  #about {
    width: 1126px;
    height: 845px;
    margin-top: 145px;
  }
  #about.active {
    height: 845px;
    width: 1126px;
    margin-top: -850px;
  }
  #about .wrapper {
    grid-template-columns: 49% 55%;
  }
  #about.active .portrait .portrait-wrapper {
    height: 60vh;
    width: 44vh;
  }
  #front-cover {
    width: 1126px;
  }
  #main .black-cover {
    width: 1126px;
  }
  #front-cover .logo-front-cover {
    top: 30%;
  }
  #main .slider .img-slider {
    width: 550px;
    height: 740px;
  }
  #main .slider .arrow-area {
    height: 106%;
    bottom: 739px;
  }
  #main .navslider-wrapper nav .click-slider {
     margin: 470px auto 0 auto;
  }
}

/* Ipad portrait mode */

@media only screen
and (device-width: 768px)
and (device-height: 1024px)
and (orientation:portrait) {
  #front-cover {
    width: 850px;
  }
  #main .black-cover {
    width: 850px;
  }
  #front-cover .logo-front-cover {
    top: 40%;
    left: 32%;
  }
  #about {
    height: 1135px;
    width: 850px;
    margin-top: 445px;
  }
  #about.active {
    height: 1135px;
    width: 850px;
    margin-top: -845px;
  }

  #main .slider .img-slider {
    width: 590px;
    height: 880px;
    margin: 160px 0 auto;
 }
 #main .navslider-wrapper nav .click-slider {
    margin: 734px auto 0 auto;
 }
 #main .slider .arrow-area .arrow-left {
    width: 50%;
    height: 164%;
    background: transparent;
    position: relative;
    bottom: 340px;
  }
  #main .slider .arrow-area .arrow-right {
     width: 50%;
     height: 164%;
     background: transparent;
     position: relative;
     bottom: 340px;
   }
