
* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Initial animation that contains logo */

#front-cover {
  max-width: 100%;
  height: 0px;
  background-color: rgb(9, 9, 9);
  z-index: 10;
  position: relative;
}

#front-cover .logo-front-cover {
  position: relative;
  top: 35%;
  left: 40%;
  opacity: 0;
  width: 200px;
  height: 180px;
}

#front-cover .logo-front-cover img {
  width: 100%;
  height: 100%;
}

/* Container that covers main content on inital animation */

#main .black-cover {
  width: 100%;
  height: 0px;
  background-color: black;
  z-index: 5;
  position: absolute;
}

/* Main content two columns */

#main {
  height: 800px;
  max-width: 100%;
  background: purple;
  display: grid;
  grid-template-columns: 30% 70%;
}

#main nav {
  background: yellow;
  padding: 70px 0 0 120px;
}

#main nav .nav-logo {
  background: white;
  width: 150px;
  height: 150px;
}

#main nav .nav-logo img {
  width: 100%;
  height: 100%;
}

#main nav .nav-links {
  background: brown;
  width: 150px;
  height: auto;
  margin-top: 20px;
}

#main nav .nav-links ul {
  font-size: 20px;
  line-height: 2.2;
  color: rgb(8, 8, 8);
  text-align: end;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: rgb(152, 152, 152);
}


/* Image slider container*/
#main .slider {
  background: blue;
  z-index: 2;
  padding: 70px 0 0 200px;
}

#main .slider .img-slider {
  width: 485px;
  height: 500px;
  z-index: 3;
  border: 1px solid black;
}

#main .slider .img-slider img {
  height: 100%;
  width: 100%;
}

#main .slider .arrow-area {
    width: 127%;
    height: 490px;
    position: relative;
    bottom: 490px;
    right: 190px;
    z-index: 5;
    /* background: pink;
    opacity: .8; */
}

/* Container that allows manipulate arrow for right or left click on slider */
#main .slider .arrow-area .arrow-left {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  background: transparent;
}

#main .slider .arrow-area .arrow-left:hover {
cursor: w-resize;
}

#main .slider .arrow-area .arrow-right {
  display: inline-block;
  float: right;
  width: 50%;
  height: 100%;
  background-color: transparent;
}

#main .slider .arrow-area .arrow-right:hover {
cursor: e-resize;
